*{
    margin: 0;
    padding: 0;
}
.pic-login{
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }

}
.form-control {
    border: 1px solid black;
    border-radius: 0px;
    height: 40px;
}
.form-label{
    margin-bottom: 10px;
}
/*nav bar*/
#nav{
    background-color:white;
}

li a{
    margin-right:50px;
    color: rgb(219, 0, 0);
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    li a{
        margin-right:50px ;
    }
}

.landing{
    height: 100vh;
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 60px;
}

#reserve{
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
}
#pic_about{
    width: 100%;
}

/*about us*/

#title_about{
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}